In [1]:
m1, *t1, m2 = [80,90,70,45,90]
print(t1,type(t1)) ## unpacking operator

[90, 70, 45] <class 'list'>

In [2]:
t1=[100,200]
t2=[300,400]
t3= t1
print(t3)

[100, 200, 300, 400]

In [5]:
t1=[100.200]
t2=[300,400]
t3=[t1.extend(t2)]
print(t3)

[None]

In [7]:
t1 = [100, 200]
t2 = [300, 400]
t3 = [*t1]
print(t3)

[100, 200]

In [9]:
t1 = [100, 200]  ## using unpacking
t2 = [300, 400]
t3 = [*t1,*t2]
t3

(100, 200, 300, 400)

In [10]:
t1 = (100, 200)  ## using unpacking  ##works with tuple too
t2 = (300, 400)
t3 = (*t1, *t2)
t3

(100, 200, 300, 400)

In [11]:
t1 = [100, 200]  ## using unpacking
t2 = [300, 400]
t3 = (*t1, *t2)
t3

(100, 200, 300, 400)

In [15]:
veggie=([[1,"ðŸ…"], [2,"ðŸ¥”"],[3, "ðŸ¥•"]])

##Case 1
veggie[1][0]=10

##Case 2
veggie[2].append("ðŸ")
veggie

[[1, 'ðŸ…'], [10, 'ðŸ¥”'], [3, 'ðŸ¥•', 'ðŸ']]

In [16]:
student={"name": "Jamie", "age":20}
detail ={"job":"Sanlam","country":"SA"}
all_details={**student, **detail}  ## ANOTHER UNPACKING OPERATOR
all_details

{'name': 'Jamie', 'age': 20, 'job': 'Sanlam', 'country': 'SA'}

In [17]:
student = {"name": "Jamie", "age": 20,}
detail = {"job": "Sanlam", "country": "SA", "age":19}
all_details = {**student, **detail}  ## LAST ONE OVERWRITES PREVIOUS ONE

## Dictionary Rules -> all keys have to be unique
all_details

{'name': 'Jamie', 'age': 19, 'job': 'Sanlam', 'country': 'SA'}

In [ ]:
x={"nice":1, "nice":1}

In [ ]:
student = {
    "name": "Jamie",
    "age": 20,
}
detail = {"job": "Sanlam", "country": "SA", "age": 19}
all_details = {"country_code": "+27" ,** student, **detail, "age":18}  ## LAST ONE OVERWRITES PREVIOUS ONE
## MAKE DEFAULT VALUE FIRST
## Dictionary Rules -> all keys have to be unique
all_details