# Intro List
- Non-primitive data type - variables hold multiple values
- Holds multiple values
- Holds same data types( recommended)
- Don't mix data types- you can BUT DON'T
- Methods
  - C - Create List
  - R - Index & slice
  - U - Append, Insert, Using Slices, Index (Mutates)
  - D - Remove(), Pop()
- Can use len method on other data types (not exclusive to one data type only)
- Lists are mutable - can be changed

In [2]:
x = 15
y = 20
print(x + y)

35

In [4]:
marks = [80, 90, 70, 45, 95] #in other languages its an array, in Python its a list
print(marks,type(marks))

[80, 90, 70, 45, 95] <class 'list'>

# Index
- Positive works
- negative works

In [7]:
marks = [80, 90, 70, 45, 95]
print(marks[2])

[70, 45, 95]

# Get values from one point in list to another
- Use slices

In [ ]:
marks = [80, 90, 70, 45, 95]
print(marks[1:])

# Reverse list

In [8]:
marks = [80, 90, 70, 45, 95]
print(marks[::-1])

[95, 45, 70, 90, 80]

# List of Strings
- Can add two lists together

In [9]:
fruit = ["🍎", "🍊", "🍓", "🍍"]
veg = ["🥕", "🥒", "🍆", "🥔"]
fruit + veg

['🍎', '🍊', '🍓', '🍍', '🥕', '🥒', '🍆', '🥔']

# One list that has been repeated twice

In [10]:
veg *2

['🥕', '🥒', '🍆', '🥔', '🥕', '🥒', '🍆', '🥔']

In [11]:
"💓" * 20

'💓💓💓💓💓💓💓💓💓💓💓💓💓💓💓💓💓💓💓💓'

In [14]:
veg = ["🥕", "🥒", "🍆", "🥔"]  #count elements in  a list
len(veg)

4

In [13]:
len("Siyanda") # 7 characters

7

# Mutable example

In [16]:
fruit = ["🍎", "🍊", "🍓", "🍍"]
fruit[2]="🫐"
print(fruit)

['🍎', '🍊', '🫐', '🍍']

# Long way

In [18]:
fruit = ["🍎", "🍊", "🍓", "🍍"]
fruit[:1]  + ["🍌"] + fruit[2:]

['🍎', '🍌', '🍓', '🍍']

# Add
- `append() - add at end`
- `insert()-middle`

In [19]:
marks=[80,90,100,60,85]
marks.append(100)
marks

[80, 90, 100, 60, 85, 100]

In [21]:
marks = [80, 90, 100, 60, 85]
marks.append(100)
marks.insert(0,55)
marks

[55, 80, 90, 100, 60, 85, 100]

## Remove items
- `Remove`
- `Pop`

In [22]:
avengers=["Hulk", "Iron man", "Black widow", "Captain America"," Spider man", "Thor"]
avengers.pop() ##removes last one if empty - but usually uses index value
avengers

['Hulk', 'Iron man', 'Black widow', 'Captain America', ' Spider man']

In [25]:
avengers=["Hulk", "Iron man", "Black widow", "Captain America","Spider man", "Thor"]
avengers.remove("Spider man") ## removes first occurence of what you specified in brackets
avengers

['Hulk', 'Iron man', 'Black widow', 'Captain America', 'Thor']

## Task
- Print each number in separate line

In [27]:
marks=[ 80, 90, 100, 60, 85]
for i in range(len(marks)):
    print(i,marks[i])

0 80
1 90
2 100
3 60
4 85

## Task 1.1
Find the letters in each characters names and store in new list
```py
avengers=["Hulk", "Iron man", "Black widow", "Captain America"," Spider man", "Thor"]
```

Output
[4,8,11,15,10,4]

In [38]:
avengers = ["Hulk", "Iron man", "Black widow", "Captain America", " Spider man", "Thor"]
new_lst= []
for i in range(len(avengers)):
    number_of_char = len(avengers[i])
    new_lst.append(number_of_char)
new_lst

[4, 8, 11, 15, 11, 4]

## Answer

In [40]:
avengers = ["Hulk", "Iron man", "Black widow", "Captain America", " Spider man", "Thor"]
new_lst = []
for i in range(len(avengers)):
    new_lst.append(len(avengers[i]))
new_lst

[4, 8, 11, 15, 11, 4]

##Answer

### Task 1.2
Find  the longer names ( more than 10 characters)

Output
["Black widow", "Captain America"]

## Task 2.1
 
Calculate the total of shopping_items & apply tax of 10%
 
```py
shopping_items = [1000, 5000,  4000, 2000, 3000]
```
 
 
Expected Output
 
```
Your total is R15000
Tax is 10%      R1500
Your grand total is R16500

In [1]:
shopping_items = [1000, 5000,  4000, 2000, 3000]
shoppin_item_int=0
for i in range(len(shopping_items)):
 shoppin_item_int= shoppin_item_int+ int(shopping_items[i])

tax= int(shoppin_item_int*0.1)
grand_total=  int(tax+ shoppin_item_int)
print(f"Your grand total is R {shoppin_item_int}")
print(f"Tax is 10%    R {tax}")
print(f"Your grand total is R {grand_total}")

Your grand total is R 15000
Tax is 10%    R 1500
Your grand total is R 16500